
        .body-initial {
            background-color: rgb(38, 38, 38); 
        }
        .silex-id-1474394621033-3 {
            min-height: 2084px; 
            top: 5px; 
            left: 0px; 
            background-image: url('../assets/18471-Phoenix27-Calculette.png'); 
            background-repeat: no-repeat; 
            background-attachment: fixed; 
            background-position: center center; 
        }
        .silex-id-1474394621032-2 {
            min-height: 100px; 
            background-color: transparent; 
            top: 0px; 
            left: 159px; 
            width: 914px; 
            background-image: url('../assets/fond-site.jpg'); 
            background-size: cover; 
            background-attachment: fixed; 
        }
        .silex-id-1475693634375-1 {
            min-height: 319px; 
            width: 565px; 
            top: 126px; 
            left: 162px; 
            background-color: rgb(255, 255, 255); 
        }
        .silex-id-1475693825736-5 {
            width: 100%; 
            top: 0px; 
            left: 0px; 
            min-height: 116px; 
            background-color: rgba(143,150,255,1); 
        }
        .silex-id-1475693925802-7 {
            min-height: 63px; 
            width: 753px; 
            top: 14px; 
            left: 51px; 
        }
        .silex-id-1475693895300-6 {
            min-height: 523px; 
            width: 316px; 
            top: 455px; 
            left: 65px; 
        }
        .silex-id-1475694280927-8 {
            min-height: 609px; 
            width: 850px; 
            top: 1407px; 
            left: 16px; 
            background-color: rgba(255,215,205,1); 
        }
        .silex-id-1475695283101-9 {
            min-height: 154px; 
            width: 273px; 
            top: 502px; 
            left: 448px; 
            background-color: rgb(255, 255, 255); 
        }
    